$primary:      $cyan;
$secondary:    $yellow;
$accent:       $purple;

$valid:        $green;
$info:         $blue;
$attention:    $orange;
$invalid:      $red;
$alert:        $pink;

$light:        $gray-200;
$dark:         $gray-800;

$link:         $green;
$border-color: $chocolate;
$input:        $blue;
$button:       $orange;
$shadow:       $brown;
$code:         $pink;
