/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
