button,
input {
  overflow: visible;
  border-radius: $md-border-radius;
  text-transform: none;
	line-height: $base-line-height;
  :focus:not(:focus-visible) {
    outline: 0;
  }
	&:active,
	&:focus {
		border-color: $button-border-focus;
	}
}

button,
select {
  text-transform: none;
}
