select {
  font-size: 14px;
  border: 1px solid $input-border;
  border-radius: 1px;
  color: #404040;
  height: 36px;
  width: 100%;
  line-height: normal;
  padding: 0 0 0 divide($offset, 2);
  text-transform: none;
}
