// H1, H2, H3, H4, H5 H6 - The <h1> to <h6> HTML elements represent six levels of section headings. <h1> is the highest section level and <h6> is the lowest.
$h1-font-size:                $base-font-size * 2.5 !default;
$h2-font-size:                $base-font-size * 2 !default;
$h3-font-size:                $base-font-size * 1.75 !default;
$h4-font-size:                $base-font-size * 1.5 !default;
$h5-font-size:                $base-font-size * 1.25 !default;
$h6-font-size:                $base-font-size !default;

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        $bolder-font-weight !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;
// scss-docs-end headings-variables
$lead-font-size:              $base-font-size * 1.25;
$lead-font-weight:            300;

$entry-content-font-size: $lg-font-size;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include clearfix;
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  &:first-child {
    margin-top: 0;
  }
  > a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
a.h1, a.h2, a.h3, a.h4, a.h5, a.h6 {
	color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.subheader {
  color: tint($heading, $lead-percentage);
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  color: tint-color($text, $lead-percentage);
}

h1, .h1 {
  font-family: $site-font;
  text-transform: capitalize;
	font-variant: small-caps;
  font-weight: $headings-font-weight;
  line-height: 1rem;
  margin: calc(($horizontal-spacer * 1.5)) 0 calc(($horizontal-spacer * .5));

  a {
    outline: none;
    &:active,
    &.active {
      text-decoration: none;
      &:hover,
      &:focus {

      }
      &:visited {
        text-decoration: none;

      }
    }
    &:disabled,
    &.disabled {

    }
  }
}

h2, .h2 {
  font-family: $page-title-font;
	color: $page;
  font-weight: $headings-font-weight;
  margin: $horizontal-spacer 0 calc($horizontal-spacer * .5);
  @include links;
}

h3, .h3 {
	font-family: $post-title-font;
	color: $title;
  font-weight: 700;

  @include links;
}

h4, .h4 {
	font-family: $tertiary-font;
  font-size: 1.75vw;
  text-transform: lowercase;
  text-align: right;
  color: shade($accent, $heading-percentage);
  margin: calc(($horizontal-spacer * 1.05)) 0 calc(($horizontal-spacer * .2));
  @include links;
}

h5, .h5 {
	font-family: $tertiary-font;
  font-weight: $base-font-weight;
	color: $heading;
  margin: $horizontal-spacer 0 $horizontal-spacer;
  @include links;
}

h6, .h6 {
	font-family: $lead-font;
	font-weight: $lead-font-weight;
	font-size: $lead-font-size;
	color: $lead;
  margin: $horizontal-spacer 0 $horizontal-spacer;
}

h5, .h5,
h6, .h6 {
	text-transform: capitalize;
}
