textarea {
  padding: 6px 10px;
  width: 100%;
  min-height: $md-spacer * 4;
  height: auto;
  overflow: auto;
  white-space: revert;
  resize: vertical;
  vertical-align: top;
  border-radius: $sm-border-radius;
  font-size: $base-font-size;
  color: #404040;
  border: 1px solid $border;
}
