.toogle-wrap {
  float: left;
}
#toggle {
  line-height: 50px;

  display: block;

  width: 50px;
  height: 50px;
  margin-top: 5px;
  padding: 6px;

  cursor: pointer;
  pointer-events: none;
}
.page-template-tpl-home #toggle {
  margin-top: -70px;

  pointer-events: auto;

  background: rgba(223, 44, 69, 0.8);
  box-shadow: 0 0 0 2px rgba(223, 44, 69, 0.5);
}
#toggle div {
  width: 100%;
  height: 3px;
  margin: 8px auto;

  transition: all 0.3s;

  background: #fff;

  backface-visibility: hidden;
}
.site-footer.fp-show #toggle div {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.site-footer.fp-show #toggle .one {
  -webkit-transform: rotate(45deg) translate(3px, -7px);
  -webkit-transform: 0 0;
  -ms-transform: rotate(45deg) translate(3px, -7px);
  transform: rotate(45deg) translate(3px, -7px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.site-footer.fp-show #toggle .two {
  opacity: 0;
}
.site-footer.fp-show #toggle .three {
  -webkit-transform: rotate(-45deg) translate(3px, 5px);
  -webkit-transform: 0 0;
  -ms-transform: rotate(-45deg) translate(3px, 5px);
  transform: rotate(-45deg) translate(3px, 5px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
#toggle .two {
  opacity: 1;
}
.site-footer.fp-show #toggle {
  margin-top: 6px;

  border: 0;
  background: none;
  box-shadow: none;
}
.fp-viewing-home-home #toggle {
  display: none;
}
