@import "banner";

$chocolate: #563829;
$custom-color: $chocolate;

@import "layout/grid/index";
@import "sass-library/stylesheets/functions";
@import "sass-libary/stylesheets/variables";
@import "base/index-base";

html {
  @include gradient-chocolate;
}
body {
  outline: 2px solid red;
}
header {
  outline: 2px solid orange;
}
footer {
  outline: 2px solid yellow;
}
main {
  outline: 2px solid green;
}
article {
  outline: 2px solid blue;
}
nav {
  outline: 2px solid purple;
}
aside {
  outline: 2px solid white;
}

@import "components/menu";
@import "components/navigation";
@import "components/widgets";
@import "layout/posts+pages";
@import "components/title";
@import "components/gallery";
@import "components/header";
@import "components/scroll-paginator";
@import "components/main-slider";
@import "components/spanel";
@import "components/widgets/pricing";
@import "components/widgets/featured";
@import "components/widgets/call-to-action";
@import "components/widgets/service-section";
@import "components/widgets/our-work";
@import "components/widgets/client-section";
@import "components/widgets/contact";
@import "components/footer";
@import "vendor/woocommerce";
@import "vendor/gutenberg";
