[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
  @include box-sizing($type:border-box);
  content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
  min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  @include grid-max-width;
  @include make-grid;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}
