.row {
  @include make-row($gutter: $grid-gutter-width);
  margin : $gutter-x $gutter-y;
  list-style  : none;
  align-content: space-between;
  &-fluid {
    width: 100%;
    *zoom: 1;
    &:before,
    &:after {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      @include grid-clearfix;
    }
    &[class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.564102564102564%;
      *margin-left: 2.5109110747408616%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  > * {
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc($gutter-x * .5);
    padding-left: calc($gutter-x * .5);
    margin-top: $gutter-y;
  }
  &:not(.row-flex) {
    @include grid-clearfix;
  }
  &.row-gutterless {
    margin-left : 0;
  }
  &.row-flex {
    display   : flex;
    flex-wrap : wrap;
  }
  [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .span16 {
    width: 100%;
    flex-basis: 100%;
  }
  .span15 {
    width: 93.75%;
    flex-basis: 93.75%;
  }
  .span14 {
    width: 87.5%;
    flex-basis: 87.5%;
  }
  .span13 {
    width: 81.25%;
    flex-basis: 81.25%;
  }
  .span12 {
    width: 75%;
    flex-basis: 99.94680851063829%;
  }
  .span11 {
    width: 68.75%;
    flex-basis: 91.39979996362975%;
  }
  .span10 {
    width: 62.50%;
    flex-basis: 82.8527914166212%;
  }
  .span9 {
    width: 56.25%;
    flex-basis: 74.30578286961266%;
  }
  .span8 {
    width: 50%;
    flex-basis: 65.75877432260411%;
  }
  .span7 {
    width: 43.75%;
    flex-basis: 57.21176577559556%;
  }
  .span6 {
    width: 37.50%;
    flex-basis: 48.664757228587014%;
  }
  .span5 {
    width: 31.25%;
    flex-basis: 40.11774868157847%;
  }
  .span4 {
    width: 25%;
    flex-basis: 31.570740134569924%;
  }
  .span3 {
    width: 18.75%;
    flex-basis: 23.023731587561375%;
  }
  .span2 {
    width: 12.50%;
    flex-basis: 14.476723040552828%;
  }
  .span1 {
    width: 6.25%;
    flex-basis: 5.929714493544281%;
  }
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @media only screen and (#{$declaration}) {
      @for $i from 1 through $grid-row-columns {
        &-#{$name}-#{$i} {
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
      }
    }
  }
}

@import "rows/rows";
@import "rows/row-cols";
