.main-menu {
  font-family: $accent-font;
  letter-spacing: 1px;
  font-size: $base-font-size;
  line-height: $lg-line-height;
}
.main-menu ul,
.main-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu .menu-list > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}
.main-menu .active a {
  color: $link;
}
.main-menu li {
  position: relative;
}

.main-menu .sub-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.main-menu .sub-menu li:first-child {
  padding-top: 10px;
}
.main-menu .sub-menu li:last-child {
  padding-bottom: 10px;
}
.main-menu .sub-menu a {
    font-size: 14px;
}
.main-menu li>ul{
    display: none;
}
.main-menu li:focus-within > ul,
.main-menu li:focus > ul,
.main-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.main-menu li:focus-within > ul{
    display: block;
}
