abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
cite {
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
}
