// Figures

// scss-docs-start figure-variables
$figure-caption-font-size:          $sm-font-size !default;
$figure-caption-color:              $gray-600 !default;
// scss-docs-end figure-variables

figure {
	border: 1px solid darken($accent, 10%);
  display: inline-block;
	padding: 1rem;
	width: 100%;
  margin: 1em 40px;
  img {
    margin: 0 auto;
  }
  figcaption {
    font-size: $sm-font-size;
  	margin-top: 0.5rem;
  	text-align: center;
  }
}

figure figcaption {
	font-size: $figure-caption-font-size;
	margin-top: 0.5rem;
	text-align: center;
}
