//------------------------------------------------------------------------------
// 1.3.0 Color defaults, mixins, and functions
//------------------------------------------------------------------------------






$silver: hsl(0, 0%, 75%);
$chocolate: hsl(31, 100%, 24%);
$tiffany: hsl(178, 90%, 38%);
$sunglow: hsl(45, 100%, 60%);

$primary: $tiffany;
$secondary: $sunglow;
$accent: $gray;
$tertiary: $chocolate;

$min-contrast-ratio: 4.5;

$link-color: $yellow;
$inactive: $light;
$muted: $light;
$focus: $warning;
$hover: $warning;
$visited: $dark;
$form: $cyan;
$table: $purple;


/**
 * Components
 */




$base-unit: 1.05;

/**
 * Layout
 */


$base-line-height: rem(1.15);
