// Put ur colors here

$gray: #e4edf4;
$blue: #c0c0c0;
$indigo: #9a9a9a;
$purple: #7b7b7b;
$pink: #626262;
$red: #4e4e4e;
$orange: #3e3e3e;
$yellow: #323232;
$green: #282828;
$teal: #1a1a1a;
$cyan: #000100;
$gray:   #787888;
