/**
 * This file contains all @font-face declarations, if any.
 */

 /*
 @font-face {
   font-family: "Font-Name";
   src: url("fonts/font-name.eot");
   src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
     url("fonts/font-name.woff") format("woff"),
     url("fonts/font-name.ttf") format("truetype"),
     url("fonts/font-name.svg#font-name") format("svg");
   font-weight: normal;
   font-style: normal;
 }
 */


 // stylelint-disable value-keyword-case
 $sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 $serif:             Georgia, Cambria, "Times New Roman", Times, serif;
 $monospace:         monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

 $font-family-base:       $sans-serif;
 $font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
 $font-pre: "Courier 10 Pitch", courier, monospace;

 

 $primary-font:            "Hand Typewriter", $font-family-base;
 $secondary-font:          "Enjoy Creativity", $font-family-base;
 $accent-font:             "GlassAntiqua-Regular", $font-family-base;
 $main-font:               "Avdira", $font-family-base;
 $tertiary-font:           "Raleway", $font-family-base;
 $site-font:               "Euphorigenic", $font-family-base;
 $lead-font:               "Raylig", $font-family-base;
