$gray-100-rgb:  rgb(192, 192, 192) !default;
$gray-200-rgb:  rgb(154, 154, 154) !default;
$gray-300-rgb:  rgb(123, 123, 123) !default;
$gray-400-rgb:  rgb(98, 98, 98) !default;
$gray-500-rgb:  rgb(78, 78, 78) !default;
$gray-600-rgb:  rgb(62, 62, 62) !default;
$gray-700-rgb:  rgb(50, 50, 50) !default;
$gray-800-rgb:  rgb(40, 40, 40) !default;
$gray-900-rgb:  rgb(26, 26, 26) !default;

$teal-rgb:  rgb(192, 192, 192) !default;
$yellow-rgb:  rgb(154, 154, 154) !default;
$red-rgb:  rgb(123, 123, 123) !default;
$orange-rgb:  rgb(98, 98, 98) !default;
$green-rgb:  rgb(78, 78, 78) !default;
$blue-rgb:  rgb(62, 62, 62) !default;
$indigo-rgb:  rgb(50, 50, 50) !default;
$purple-rgb:  rgb(40, 40, 40) !default;
$cyan-rgb:  rgb(26, 26, 26) !default;
$pink-rgb: rgb(228, 237, 244) !default;

$primary-rgb:   rgb(10, 186, 181) !default;
$secondary-rgb: rgb(255, 228, 30) !default;
$accent-rgb:    rgb(120, 120, 136) !default;
$tertiary-rgb:  rgb(123, 63, 0) !default;
$success-rgb:   rgb(159, 183, 10) !default;
$warning-rgb:   rgb(186, 22, 12) !default;
$danger-rgb:    rgb(186, 9, 76) !default;
$alert-rgb:     rgb(186, 9, 120) !default;
$info-rgb:      rgb(15, 82, 186) !default;
$light-rgb:     rgb(192,192,192) !default;
$dark-rgb:      rgb(26,26,26) !default;

$white-rgb:     rgb(228, 237, 244) !default;
$black-rgb:     rgb(0, 1, 0) !default;
