/* =Site Header
----------------------------------------------- */

/* Style elements inside of the .site-header container */

.site-title,
.site-title a {

}
.site-description { /* This is the tagline */

}

.menu-left .header {
  text-align: left;
}
.menu-left .main-menu .sub-menu {
  padding-left: 0;
  padding-right: 20px;
  right: 100%;
  left: auto;
  text-align: right;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
