/* =Site Footer
----------------------------------------------- */
.site-footer,
.footer-inner {
  margin-top: 80px;
  border-top: 1px solid #ababab;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 80px;
  margin-right: 50px;
  font-size: 12px;

  .title {
    font-size: 14px;
    font-weight: 700;
  }
  ul {
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}

.site-info {

}

.copyright {
  font-size: 12px;
  color: #ababab;
}
