// scss-docs-start color-variables
$blue    : hsl(206, 42%, 93%) !default;
$indigo : hsl(0, 0%, 75%) !default;
$purple : hsl(0, 0%, 60%) !default;
$pink : hsl(0, 0%, 48%) !default;
$red : hsl(0, 0%, 38%) !default;
$orange : hsl(0, 0%, 31%) !default;
$yellow : hsl(0, 0%, 24%) !default;
$green : hsl(0, 0%, 20%) !default;
$teal : hsl(0, 0%, 16%) !default;
$cyan : hsl(0, 0%, 10%) !default;
$gray    : hsl(120, 100%, 0%) !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);
// scss-docs-end colors-map
