
// Logo
.logo {}

.logo-img {}

#logo-slider-section .owl-nav {
  z-index: 199;
}

#logo-slider-section .owl-prev,
#logo-slider-section .owl-next {
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    padding: 7px;
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}

#logo-slider-section .owl-prev {
    left: 0;
}

#logo-slider-section .owl-next  {
    right: 0;
}

#logo-slider-section .owl-prev .icon,
#logo-slider-section .owl-next .icon {
    width: 49px;
    height: 49px;
}

#logo-slider-section .section-content-wrapper .post-thumbnail {
    margin: 0;
    opacity: 0.4;
}
#logo-slider-section .section-content-wrapper .post-thumbnail {
    margin: 0;
    opacity: 0.4;
}
