/* =Navigation
----------------------------------------------- */

/* Older/Newer Post Navigation */

/* Pagination */
#pagination {
  margin-bottom: 40px;
  width: 100%;
}
#pagination .past-page {
  float: right;
  width: 49%;
  text-align:right;
}
#pagination .next-page {
  float: left;
  width: 50%;
  border-right: 1px solid #ccc;
  height: 200px;
}
.next-page a, .past-page a {
  font-size: 2em;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 10%;
}
.site-content .site-navigation,
.post-navigation {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #ababab;
  a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  span.nav-subtitle {
    display: block;
  }
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
