/* =Site Header
----------------------------------------------- */
/* Style elements inside of the .site-header container */

.site-header hgroup { /* Container for site title and description */
  width: 4vw;
}
.site-title,
.site-title a {
  text-align: center;
  font-family: $site-font;
  font-size: $base-font-size * 7;
  position: relative;
  top: 0;
  bottom: 0;
  left: -1.25vw;
  height: 100%;
  z-index: $z-index-site-title;
  line-height: $sm-line-height;
  background-image: linear-gradient( to top, $primary, $secondary, white, transparent);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $chocolate;
  -webkit-text-fill-color: transparent;
  text-shadow: inset 0px 2px 3px $chocolate;
  background-clip: text;
}

.site-description { /* This is the tagline */
  font-style: italic;
}



.site-header-logo ~ .section-title-wrapper {
    margin-top: 21px;
}
