


    width: auto;
    transition: all .5s;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:hover {
        text-decoration: none;
        background-color: $base-background-colour;
        color: $brand-colour;
        border-color: $brand-colour;
    }

    &.is-disabled,
    &:disabled {
        pointer-events: none;
        opacity: .65;
    }
}
