.search-form{
  position: absolute;
  right: 0;
  top: 0;
}
.search-form label{
  position: relative;
  height: 32px;
  padding: 0 2px;
  z-index: 1;
  margin: 0;
}
.search-form label:before {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 20;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f002";
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
