// Cards

// scss-docs-start card-variables
$card-text : mix(black, $card, $body-color-percentage);
$card-bg:   mix(white, $card, $background-percentage);
$card-border: mix(black, $card, $border-percentage);

$card-box-shadow: 1.5rem 1.25rem 1.25rem $shadow;
$card-inset-box-shadow: $shadow -.25rem -.25rem -.50rem 0px inset, $shadow .25rem .25rem .50rem 0px inset;

$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-title-spacer-y:               $spacer * .5;
$card-border-width:                 $border-width;
$card-border-color:                 $card-border;
$card-border-radius:                $border-radius;
$card-box-shadow:                   null;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-offset-y:                $card-spacer-y * .5;
$card-cap-offset-x:                $card-spacer-x;
$card-cap-bg:                       mix($background, $card, $background-percentage);
$card-cap-color:                    mix($body-color, $card, $body-color-percentage);
$card-height:                       null;
$card-img-overlay-offset:           $offset;
$card-group-margin:                 $grid-gutter-width * .5;
// scss-docs-end card-variables
