/* ____________________________________ PADDING */
  $offset-xs:            calc($offset * $xs);         /* 2.4px */
  $offset-sm:            calc($offset * $sm);         /* .76 */
  $offset-md:            calc($offset * $md);         /* 1.10px */
  $offset-lg:            calc($offset * $lg);         /* 1.56 */
  $offset-xl:            calc($offset * $xl);         /* 2.25 */
  $offset-xxl:           calc($offset * $xxl);        /* 3.06px */




  $offset-y:             calc($offset * .5);
  $offset-x:             calc($offset * .5);
  $offset-y-sm:          calc($offset-y * $sm);
  $offset-x-sm:          calc($offset-x * $sm);
  $offset-y-lg:          calc($offset-y * $lg);
  $offset-x-lg:          calc($offset-x * $lg);

  $horizontal-offset-px: $offset-x;
  $horizontal-offset:    2vh; // 1vh = 8px;
  $vertical-offset:      2.75vw;                      // 1vw = 6px;
  $vertical-offset-px:   $offset-y;
