/* _____________________________________ SPACER */
  /* Map */
    $spacers:              (
      0:                   0,
      1:                   $spacer * $xs,
      2:                   $spacer * $sm,
      3:                   $spacer,
      4:                   $spacer * $md,
      5:                   $spacer * $lg,
      6:                   $spacer * $xl,
      7:                   $spacer * $xxl
    );

    $negative-spacers:     negativify-map($spacers);

    $vertical-spacer:      divide($grid-columns, $spacer);
    $vertical-spacer-md:   calc($vertical-spacer * $md);
    $vertical-spacer-lg:   calc($vertical-spacer * $lg);
    $vertical-spacer-xl:   calc($vertical-spacer * $xl);
    $horizontal-spacer:    divide($grid-row-columns, $spacer);
    $horizontal-spacer-md: calc($horizontal-spacer * $md);
    $horizontal-spacer-lg: calc($horizontal-spacer * $lg);
    $horizontal-spacer-xl: calc($horizontal-spacer * $xl);
