
$blue: hsl(216, 85%, 39%);
$indigo: hsl(272, 77%, 74%);
$purple: hsl(286, 91%, 38%);
$pink: hsl(322, 91%, 38%);
$red: hsl(337, 91%, 38%);
$orange: hsl(3, 88%, 39%);
$yellow: hsl(43, 89%, 38%);
$green: hsl(68, 90%, 38%);
$teal: hsl(93, 92%, 38%);
$cyan: hsl(144, 83%, 40%);
$gray: hsl(240, 6%, 50%);

$silver: hsl(0, 0%, 75%);
$silver: #bfbfbf;
$chocolate: hsl(31, 100%, 24%);
$chocolate: #7b3f00;
$tiffany: hsl(178, 90%, 38%);
$tiffany: #0abab5;
$sunglow: hsl(45, 100%, 60%);

$primary: $tiffany;
$secondary: $sunglow;
$accent: $silver;
$tertiary: $chocolate;

$min-contrast-ratio: 4.5;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;

$prefix: cc-;

/**
 * Components
 */
$border-width: 2px;
$border-style: solid;
$border-color: shade(black, 10%);
$border-radi: .45rem;

$shadow: $tertiary;
$component-active-color: $white;
$component-active-bg: $primary;

$base-unit: 1.05;

/**
 * Typography
 */
$base-font-size: 16;
$base-font-size: 1.6rem;
$base-font-size: rem(16px);
$base-font-size: rem(16);
$global-font-size: 100%;
$base-font-weight: 500;
$base-line-height: 1.15;
$base-line-height: rem(1.15);

$offset: rem(16) !default;
$offset-x: 16px; // 1vh = 8px;
$horizontal-offset: 2vh;
$vertical-offset: 2.75vw;
$offset-y: 16px; // 1vw = 6px;

$grid-max-width: $name - calc($column-margin * 2);
$grid-columns: 12;
$grid-gutter-width: 8px;
$grid-gutter-width: .8rem;
$grid-row-columns: 6;
$columns-margin: 4.2%;
$row-margin: 4.7%;

$container-offset: 16;

@import 'abstracts/variables/options/media-width';
@import 'abstracts/variables/constants/escaped-character';
@import 'abstracts/variables/constants/position-value';
@import 'abstracts/variables/constants/size';

@import 'styles/colors/color-palette';

@import 'styles/grid/grid';

@import 'abstracts/mixin';

@import 'abstracts/utility';
