$gradient: linear-gradient(-120deg, rgba($tertiary, .85), rgba($primary, .95), rgba($secondary, .65), rgba($accent, .45), transparent, 95%);

$gradient-tabs-bg: linear-gradient(320deg, transparent, rgba($white, .10) 20%, rgba($accent, .20) 35%, rgba($accent, .30) 50%, rgba($accent, .40) 65%);

$gradient-html: radial-gradient(circle at 70% 65%, $white 1%, $primary, $secondary, $accent, $white);

/* Theme Colors */
$gradient-theme: linear-gradient( $primary, $secondary, $accent, $tertiary, transparent);
$gradient-tertiary: linear-gradient( 120deg, $tertiary, $white, transparent );
$gradient-primary: linear-gradient( 190deg, $primary, $white, transparent );
$gradient-secondary: linear-gradient( to right, $secondary, $white );
$gradient-accent: linear-gradient( 290deg, $accent, $white, transparent );

@mixin gradient($deg, $theme-color) {
  background-image: linear-gradient( $deg, $theme-color, white, transparent);
  background-size:cover;
}
@mixin gradient-background ($theme-color) {
  background-image: linear-gradient($theme-color, white);
  background-size:cover;
}
