@use "sass:string";



$max-content-width: screen ($name - ($grid-gutter-width * 2));
$grid-max-width:    $name - ($grid-gutter-width * .5);
/* Grid containers */
$container-max-width: $name - calc($grid-gutter-width * 2);

$container-max-widths: (
  sm: calc($grid-breakpoint-sm - ($grid-gutter-width * 2)),
  md: calc($grid-breakpoint-md - ($grid-gutter-width * 2)),
  lg: calc($grid-breakpoint-lg - ($grid-gutter-width * 2)),
  xl: calc($grid-breakpoint-xl - ($grid-gutter-width * 2)),
  xxl: calc($grid-breakpoint-xxl - ($grid-gutter-width * 2))
);

$breakpoint-xxxl: 1692px;
$breakpoint-xxl: 1400px;
$breakpoint-xl: calc($grid-breakpoint-xxl - 1px);
$breakpoint-lg: calc($grid-breakpoint-xl - 1px);
$breakpoint-md: calc($grid-breakpoint-lg - 1px);
$breakpoint-sm: calc($grid-breakpoint-md - 1px);
$breakpoint-xs: 0;

/* Define the maximum width of `.container` for different screen sizes. */
$container-widths: (
    'xxl': '(min-width: $grid-breakpoint-xl)' and '(max-width: $grid-breakpoint-xxl - calc($grid-gutter-width * 2))',
    'xl' : '(min-width: $grid-breakpoint-lg)' and '(max-width: $grid-breakpoint-xl - calc($grid-gutter-width * 2))',
    'lg' : '(min-width: $grid-breakpoint-md)' and '(max-width: $grid-breakpoint-lg - calc($grid-gutter-width * 2))',
    'md' : '(min-width: $grid-breakpoint-sm)' and '(max-width: $grid-breakpoint-md - calc($grid-gutter-width * 2))',
    'sm' : '(min-width: $grid-breakpoint-xs)' and '(max-width: $grid-breakpoint-sm - calc($grid-gutter-width * 2))',
    'xs' : '(max-width: $grid-breakpoint-xs)'
);

/* Container padding */
$container-offset-x: $grid-gutter-width * .5;
$container-offset-y: $grid-gutter-width * .5;

$container-offset: $grid-gutter-width;
