// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                16 !default;
$grid-gutter-width:           16px !default;
$grid-row-columns:            16 !default;

// Container padding
$container-padding-x: $grid-gutter-width;

$default-width: 783px;

$gutter: $grid-gutter-width;

$gutters: (
  0: 0,
  1: $gutter * .25,
  2: $gutter * .5,
  3: $gutter,
  4: $gutter * 1.5,
  5: $gutter * 3,
);

$gutter-x: $grid-gutter-width * 2.5;
$gutter-y: $grid-gutter-width;
