/**
 * 1.3 - Transition
 */
$grid-breakpoint-sm: $mobile-portrait;
$grid-breakpoint-md: $tablet;
$grid-breakpoint-lg: $tablet_horizontal;
$grid-breakpoint-xl: $large-screen;
$grid-breakpoint-xxl: 1400px;
