/* ____________________________________ PADDING */
  $offset:               16px !default;

  $offset-xs:            calc($offset * $size-xs); /* 56px */
  $offset-sm:            calc($offset * $size-sm); /* .76 */
  $offset-md:            calc($offset * $size-md); /* 1.10px */
  $offset-lg:            calc($offset * $size-lg); /* 1.56 */
  $offset-xl:            calc($offset * $size-xl); /* 2.25 */
  $offset-xxl:           calc($offset * $size-xxl); /* 3.06px */

  $horizontal-offset-px: 16px; // 1vh = 8px;
  $horizontal-offset:    2vh;
  $vertical-offset:      2.75vw;
  $vertical-offset-px:   16px; // 1vw = 6px;

  $offset-y:             calc($vertical-offset * $size-sm);
  $offset-x:             $horizontal-offset;
  $offset-y-sm:          calc($vertical-offset * $size-xs);
  $offset-x-sm:          $horizontal-offset * $size-sm;
  $offset-y-lg:          calc($vertical-offset * $offset-lg);
  $offset-x-lg:          calc($horizontal-offset * $offset-lg);
