/* Base size */
$base-unit: 1.05;
  $size-xs:  $base-unit * .75; // .86 14px 10.5pt
  $size-sm:  $base-unit * .875; // 1.0 16px 12pt medium
  $size-md:  $base-unit * 1.05; // 1.20 19px 14pt
  $size-lg:  $base-unit * 1.25; // 1.44 23px 17pt
  $size-xl:  $base-unit * 1.50; // 1.73 26-29px 20-22pt
  $size-xxl: $base-unit * 1.75; // 2.01 32px 24pt

/* Map */
$sizes: (
  'size-xs'                       : $size-xs,
  'size-sm'                       : $size-sm,
  'size-md'                       : $size-md,
  'size-lg'                       : $size-lg,
  'size-xl'                       : $size-xl,
  'size-xxl'                      : $size-xxl
  );
