.row {
  margin-left : $grid-gutter;
  list-style  : none;
  align-content: space-between;

  &:not(.row-flex) {
    @include grid-clearfix;
  }

  &.row-gutterless {
    margin-left : 0;
  }

  &.row-flex {
    display   : flex;
    flex-wrap : wrap;
  }
  [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }
  ::after {
    content: "";
    display: table;
    clear: both;
  }
}
