.row1 {
  flex: 0 0 ;
  height: 6.25%;
}
.row2 {
  flex: 0 0 ;
  height: 12.50%;
}
.row3 {
  flex: 0 0 ;
  height: 18.75%;
}
.row4 {
  flex: 0 0 ;
  height: 25%;
}
.row5 {
  flex: 0 0 ;
  height: 31.25%;
}
.row6 {
  flex: 0 0 ;
  height: 37.50%;
}
.row7 {
  flex: 0 0 ;
  height: 43.75%;
}
.row8 {
  flex: 0 0;
  height: 50%; }
.row9 {
  flex: 0 0 ;
  height: 56.25%;
}
.row10 {
  flex: 0 0 ;
  height: 62.50%;
}
.row11 {
  flex: 0 0 ;
  height: 68.75%;
}
.row12 {
  flex: 0 0 ;
  height: 75%;
}
.row13 {
  flex: 0 0 ;
  height: 81.25%;
}
.row14 {
  flex: 0 0 ;
  height: 87.50%;
}
.row15 {
  flex: 0 0 ;
  height: 93.75%;
}
.row16 {
  flex: 0 0 ;
  height: 100%;
}
.row-fluid {
  flex: 0 0 auto;
  height: auto;
}
