@use 'base';

$primary   : $dark !default;
$secondary : $white !default;
$accent    : $light !default;
$tertiary  : $dark !default;

$primary   : $gray-100 !default;
$secondary : $gray-300 !default;
$accent    : $gray-500 !default;
$tertiary  : $gray-700 !default;

$success   : $gray-200 !default;
$info      : $gray-400 !default;
$warning   : $gray-600 !default;
$danger    : $gray-800 !default;
$alert     : $gray-900 !default;

$valid     : $success !default;
$attention : $alert !default;
$invalid   : $danger !default;
