/**
 * Clearfix
 */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* You can also use a <br class="clear" /> to clear columns */
.clear
{
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;

    width: 0;
    height: 0;
}
