// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start button-variables
$btn-padding-y:               $input-button-padding-y !default;
$btn-padding-x:               $input-button-padding-x !default;
$btn-font-family:             $input-button-font-family !default;
$btn-font-size:               $input-button-font-size !default;
$btn-line-height:             $input-button-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-button-padding-y-sm !default;
$btn-padding-x-sm:            $input-button-padding-x-sm !default;
$btn-sm-font-size:            $input-button-sm-font-size !default;

$btn-padding-y-lg:            $input-button-padding-y-lg !default;
$btn-padding-x-lg:            $input-button-padding-x-lg !default;
$btn-lg-font-size:            $input-button-lg-font-size !default;

$btn-border-width:            $input-button-border-width !default;

$btn-font-weight:             $normal-font-weight !default;
$btn-box-shadow:              inset 0 1px 0 rgba($shadow-button-inset, .15), 0 1px 1px rgba($shadow-button-inset, .075) !default;
$btn-focus-width:             $input-button-focus-width !default;
$btn-focus-box-shadow:        $input-button-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color:              $btn-link-color !default;
$btn-link-hover-color:        $btn-link-hover !default;
$btn-link-disabled-color:     $gray-600 !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$btn-hover-bg-shade-amount:       15% !default;
$btn-hover-bg-tint-amount:        15% !default;
$btn-hover-border-shade-amount:   20% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;
// scss-docs-end button-variables
