select {
  font-size: 14px;
  border: 1px solid $input-border;
  border-radius: 1px;
  color: #404040;
  height: 40px;
  line-height: $base-line-height;
  padding: 0 0 0 divide($offset, 2);
  text-transform: none;
}
