// Use this file to overwrite the '!default' variables and add your own variables
// To overwrite a variable you don´t have to touch the Core folder.
// Just copy a variable from src/core/variables, paste it here and edit the value.

/**
 * Color Palette
 */

 // Base Colors
  $base-colour:            #444;
  $base-background-colour: #fff;

 // Theme Colors
  $brand-colour:           #444; // Example
  $success-colour:         #5CB85C;
  $info-colour:            $brand-colour;
  $warning-colour:         #F0AD4E;
  $danger-colour:          #D9534F;

 // Utility Colors

/**
 * Typography
 */

$sans-serif-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family:       Georgia, "Times New Roman", Times, serif;
$base-font-family:        $sans-serif-font-family;




/**
 * Structure
 */

 // Breakpoints
  $breakpoint-lg: 1280px;
  $breakpoint-md: 1024px;
  $breakpoint-sm: 768px;
  $breakpoint-xs: 480px;

  $breakpoints: (
    'lg' '(min-width: ' + ($breakpoint-md + 1) + ')',
    'md' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width: ' + $breakpoint-md + ')',
    'sm' '(min-width: ' + ($breakpoint-xs + 1) + ') and (max-width:'  + $breakpoint-sm + ')',
    'xs' '(max-width: ' + $breakpoint-xs + ')'
    );

 // Grid
  $grid-max-width: 1200px;
  $grid-columns     : 16;
  $grid-gutter-width: 16px;
  $grid-row-columns : 16;
  $columns-margin   : 3.8%;

/**
 * Components
 */

 $border-radi      : .15;
 $border-width     : 1px;
 $base-unit        : 1.05;
 $spacer           : 1;
 $padding          : 16px;

/**
 * Animations
 */
  $animation-speed: 250ms;
  $animation: ease-in-out;
