.custom-logo {
	display: block;
	width: 120px;

  .custom-logo-link {
	   display: block;
   }

   .site-identity {
    display: none;
   }
}
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}
