
@import "default/colors";
//$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$enable-caret :                true !default;
$enable-rounded :              true !default;
$enable-shadows :              true !default;
$enable-gradients :            true !default;
$enable-transitions :          true !default;
$enable-reduced-motion :       true !default;
$enable-smooth-scroll :        true !default;
$enable-grid-classes :         true !default;
$enable-cssgrid :              true !default;
$enable-button-pointers :      true !default;
$enable-rfs :                  true !default;
$enable-validation-icons :     true !default;
$enable-negative-margins :     true !default;
$enable-deprecation-messages : true !default;
$enable-important-utilities :  true !default;

/* Variable Prefix  */
/* for ':root' CSS variables */
$prefix :             ca- !default;

$base-size: 1.15 !default;
$spacer: 1.05 !default;

$offset: 16px !default;

$grid-columns: 16 !default;
$grid-row-columns: 16 !default;
$grid-gutter: 16px !default;

$border-radi: .15rem !default;

$base-line-height: 1.15 !default;
