$input-group-addon-offset: $input-offset;
$input-group-addon-offset: $input-offset;
$input-group-addon-font-weight: $input-font-weight;
$input-group-addon-color: $input;
$input-group-addon-bg: $primary;
$input-group-addon-border-color: $input;
