/**
 * 1.3 - Transition
 */

$mobile_width: 480px;
$mobile_portrait: 568px; // 35.5em; // 568px;
$mobile_horizontal: 667px; // 41.688em; // 667px;
$tablet: 768px; // 48.000em; // 768px;
$tablet_width: 783px; // 48.937em; // 783px;
$tablet_horizontal: 992px; // 62em; //992px;
$desktop_width: 1024px; // 64.000em; //1024px;
$large_screen: 1200px; // 75.000em; //1200px;
$wide_width: 1366px; // 85.375em; //1366px;
$diagonal_screen: 1660px; // 103.750em; //1660px;
$ultra_wide_screen: 1920px; // 120em; //1920px
