/* Dropdown Toggle */

.menu-toggle {
  font-weight: 400;
  line-height: 1;

  display: block;

  margin: 0 auto;

  background-color: transparent;
  background-image: none;
  text-shadow: none;
}
.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle.selected {
  background-color: transparent;
  background-image: none;
}

.selected.menu-toggle .icon-bars,
.selected.menu-toggle .icon-share,
.menu-toggle .icon-close,
.selected.menu-toggle .icon-search {
  display: none;
}
.selected.menu-toggle .icon-close {
  display: inline-block;
}
.main-navigation ul.toggled-on {
  border-top: none;
  box-shadow: none;
}
.main-navigation ul .toggled-on {
  display: block;
}
#menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  border: none;
  border-radius: 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-toggle.search-toggle.open + .menu-inside-wrapper {
  visibility: visible;

  opacity: 1;
}
.close-toggle {
  font-weight: 400;

  margin-bottom: 7px;
  margin-left: auto;
}

.dropdown-toggle {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.172;

  position: absolute;
  top: 0;
  right: 0;

  display: block;

  margin: 0 auto;
  padding: 14px 19px;

  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.dropdown-toggle:focus {
  outline: thin dotted;
}
.dropdown-toggle.toggled-on .icon {
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(-180deg); /* IE 9 */
  transform: rotate(-180deg);
}

.navigation-default .dropdown-toggle,
.navigation-default .main-navigation ul .dropdown-toggle.toggled-on,
.navigation-default #primary-menu-wrapper .menu-toggle-wrapper {
  display: none;
}
