/**
 * Properties
 */
 $base-unit:                   16;
 $spacer:                      1rem;
 $block-spacer:                1.5rem;
 $offset:                      16px;
 $base-value:                  1.25;

 $xs:                          .15;
 $sm:                          .75;
 $md:                          1.50;
 $lg:                          2.25;
 $xl:                          3;
 $xxl:                         3.75;

 $border-width:                1px;
 $border-radi:                 .05rem;
