
pre {
  font-family: $font-pre;
  line-height: 1.8em;
	font-size: 15px;
	font-size: 1.5rem;

	margin-bottom: 1.6em;
	padding: 1.6em;

	overflow: auto;
  word-wrap: break-word;
  max-width: 100%;
  border: 1px solid #E4E4E4;
  font-style: italic;
  word-wrap: break-word;
  white-space: pre-wrap;
	background: $color__background-pre;
}

code,
kbd,
pre,
samp,
tt,
var {
	font-family: $font-code;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

code,
pre {
  background: $accent;
  overflow: auto;
  padding: 0.5rem 1rem;
  letter-spacing: 0.015em;
}

code pre,
pre code {
  padding: 0;
}
