b, strong, time, cite, dfn, em, i, sub, sup, small, big {
	font-family: $accent-font;

}
b, strong, time, cite, dfn, em, i {
	font-size: $base-font-size;
  line-height: $base-line-height;
}

b, strong, time, cite, small, big {
	font-weight: $emphasis-font-weight;
}

b,
strong,
optgroup,
time {
	font-weight: bold;
}

dfn, em, i {
  font-style: italic;
}

dfn, cite, em, i {
  font-family: "Georgia", serif;
  font-style: italic;
  font-weight: bold;
  margin-top: 1rem;
}

dfn {
  border-bottom: 1px dashed;
}
cite {
  font-style: normal;
}

sub,
sup {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
  top: -0.5em;
}

sub {
	font-size: 60%;
	vertical-align: bottom;
	top: 0.5ex;
  bottom: -0.25em;
}

small, .small {
  font-family: $accent-font;
  font-size: 16px;
  line-height: $base-line-height;
  text-transform: capitalize;
  a {
    color: shade($secondary, $link-percentage);
  }
}

big {
	font-size: 125%;
}
