/* Text elements */
p {
	margin-bottom: 1.5em;
}

address {
	margin: 0 0 1.5em;
}

abbr, abbr[title], acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
  background-color: $secondary;
  color: $accent;
}

mark, .mark, ins {
	background: $color__background-ins;
	text-decoration: none;
  color: #333333;
}
del {
    opacity: 0.8;
}
