/* = Containers
----------------------------------------------- */

.site { /* The the outer-most container, wraps the entire site */
  margin-top: 3vh;
  margin-right: .75vw;
  margin-bottom: 3vh;
  margin-left: 3vw;
  @include elevation(15);
}

.site-header { /* The container for the entire header area */
  width: 4vw;
  bottom: 0;
  top: 0;
  text-align: left;
  z-index: 9;
  overflow: visible;
}

.page-header {
  padding-bottom: calc(2 * $horizontal-offset);
  border-bottom: 3px solid $border-color;
}

#main { /* The container for #primary, #secondary, and #tertiary */

}
#primary { /* The container for your primary content.*/

}
#content { /* The container for your post and page content. */

}
#secondary { /* Container for your first widget area */

}
#tertiary { /* Container for your second widget area */

}
.site-footer { /* Container for the entire site footer area */

  padding-right: 10vw;

  height: 2.75vh;

  justify-content: flex-end;
  align-items: baseline;

  @include gradient-global ( $deg: 90deg, $color: $primary );
  :hover {
    @include elevation(5);
  }
}

@import "structure/article";
@import "structure/aside";
@import "structure/container";
@import "structure/nav";
@import "structure/page-navigation";
@import "structure/site-footer";
@import "structure/site-header";
@import "structure/the-content";
@import "structure/responsive-structure";
