/* = Containers
----------------------------------------------- */

.site-wrapper { /* The the outer-most container, wraps the entire site */
  margin-top: 1.75vh;
  margin-right: $vertical-spacer;
  margin-bottom: 1.75vh;
  margin-left: 3vw;
  width: $max-content-width;
  height: 100%;
}

.site-header { /* The container for the entire header area */
  position: fixed;
  max-width: 4vw;
  margin-top: 0;
  margin-right: 98vw;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
  background-image: linear-gradient( to bottom, $chocolate 1%, $secondary, white, transparent);
  @include elevation(20);
}

.page-header {
  padding-bottom: calc(2 * $horizontal-offset);
  border-bottom: 3px solid $border-color;
}

.main { /* The container for #primary, #secondary, and #tertiary */
  position: relative;

  margin-top: 1.75vh;
  margin-right: .5vw;
  margin-bottom: 1.75vh;
  margin-left: 2vw;
}
#primary { /* The container for your primary content.*/

}
#content { /* The container for your post and page content. */

}
#secondary { /* Container for your first widget area */

}
#tertiary { /* Container for your second widget area */

}
.site-footer { /* Container for the entire site footer area */
  border-top-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    to left,
    black,
    $chocolate,
    transparent );
  background-image: linear-gradient( to left, transparent 1%, $primary, white, transparent );
  padding-right: 10vw;

  height: 2.75vh;

  justify-content: flex-end;
  align-items: baseline;


  :hover {
    @include elevation(5);
  }
}

@import "structure/aside-format";
@import "structure/comments";
@import "structure/content";
@import "structure/gallery";
@import "structure/media";
@import "structure/menu";
@import "structure/navigation";
@import "structure/site-footer";
@import "structure/site-header";
@import "structure/widgets";
@import "structure/responsive-structure";
