/* Text elements */
p {
  text-align: left;
  font-size: 100%;
  margin: 1em 0 1.5em;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  hyphenate-lines: 3;

  p.lead {
    font-size: $lead-font-size;
    margin: 1em 0;
    font-weight: $lead-font-weight;
  }
  + p {
    text-indent: 0;
  }
  > code {
    padding: 0.25em;
    background: #eee;    
  }
}
p + p {
  margin: 0;
  text-indent: $size-xl;
}

p + ul,
p + ol,
p + dl {
  margin-bottom: $size-xl;
}

address {
	margin: 0 0 1.5em;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
cite {
    font-family: "Georgia", serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
}
del {
    opacity: 0.8;
}
