// PRE - The <pre> HTML element represents preformatted text which is to be presented exactly as written in the HTML file. The text is typically rendered using a non-proportional, or "monospaced, font. Whitespace inside this element is displayed as written.

$pre             : mix($code, black, $pre-percentage);
$pre-bg          : mix(white, $pre, $background-percentage);
$pre-border      : mix(black, $pre, $border-percentage);
$pre-border-width: $sm-border-width;
$code-font-size  : $base-font-size;

pre {
  display: block;
  overflow: auto;

  font-family: $font-code;
  color: $pre;
  font-style: italic;
  @include font-size($code-font-size);
  line-height: $base-line-height;

  margin: 1em 0 1.6em 0;
  padding: 1.6em;
  border: $pre-border-width solid $pre-border;
  background-color: $pre-bg;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }

  > code {
    @include font-size($md-font-size);
    color: inherit;
    word-break: normal;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}
