$default-width: 610px;

$gutter: $grid-gutter;
$gutters: (
  0: 0,
  1: $gutter * .15,
  2: $gutter * .75,
  3: $gutter * 1.50,
  4: $gutter * 2.25,
  5: $gutter * 3.00,
);

$gutter-x: $grid-gutter;
$gutter-y: $grid-gutter;

/* Grid breakpoints */
/* Define the minimum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries. */
$grid-breakpoint-sm: 576px - 1px;
$grid-breakpoint-md: 768px - 1px;
$grid-breakpoint-lg: 992px - 1px;
$grid-breakpoint-xl: 1200px - 1px;
$grid-breakpoint-xxl: 1400px - 1px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px - 1px,
  md: 768px - 1px,
  lg: 992px - 1px,
  xl: 1200px - 1px,
  xxl: 1400px - 1px
);

$breakpoints : (
  xs: 0,
  sm: 576px - 1px,
  md: 768px - 1px,
  lg: 992px - 1px,
  xl: 1200px - 1px,
  xxl: 1400px - 1px
);

$mobile: 480px;
$mobile_portrait: 568px; // 35.5em;
$mobile_horizontal: 667px; //41.688em;
$tablet: 768px; //48.000em;
$tablet: 783px; // 48.937em;
$tablet_horizontal: 992px; //62em;
$desktop: 1024px; //64.000em;
$large_screen: 1200px; //75.000em;
$wide: 1366px; //85.375em;
$diagonal_screen: 1660px; //103.750em;
$ultra_wide_screen: 1920px; //120em;
