$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$colors:           (
  'blue'     : hsl(216, 85%, 39%),
  'indigo'   : $indigo,
  'purple'   : $purple,
  'pink'     : $pink,
  'red'      : $red,
  'orange'   : $orange,
  'yellow'   : $yellow,
  'green'    : $green,
  'teal'     : $teal,
  'cyan'     : $cyan,
  'gray'     : $gray
);

$theme-colors:     (
  'primary':         $primary,
  'secondary':       $secondary,
  'accent':          $accent,
  'tertiary':        $tertiary,
  'success':         $success,
  'warning':         $warning,
  'danger':          $danger,
  'info':            $info,
  'light':           $light,
  'dark':            $dark
);

$theme-colors-rgb: (
  primary-rgb:     $primary-rgb,
  secondary-rgb:   $secondary-rgb,
  accent-rgb:      $accent-rgb,
  tertiary-rgb:    $tertiary-rgb,
  success-rgb:     $success-rgb,
  warning-rgb:     $warning-rgb,
  danger-rgb:      $danger-rgb,
  info-rgb:        $info-rgb,
  light-rgb:       $light-rgb,
  dark-rgb:        $dark-rgb
);
