// scss-docs-start display-headings
$display-font-size-1: 5.75rem;
$display-font-size-2: 5rem;
$display-font-size-3: 4.25rem;
$display-font-size-4: 3.5rem;
$display-font-size-5: $base-font-size * $xxl;
$display-font-size-6: $base-font-size * $xl;

// scss-docs-start display-headings
$display-font-weight-1: $base-font-weight + 400;
$display-font-weight-2: $base-font-weight + 200;
$display-font-weight-3: $base-font-weight + 100;
$display-font-weight-4: $base-font-weight - 200;
$display-line-height: $headings-line-height;
// scss-docs-end display-headings
