
*, *:after, *:before, *::after, *::before {
  @include box-sizing($type:border-box);
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding-top: 2vh;
  padding-right: .75vw;
  padding-bottom: 2vh;
  padding-left: 2.75vw;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  @include elevation(4);
  outline: 2px solid black;
}

body,
html {
  overflow: hidden;
}


header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3vw;
  height: 100%;
  width: 4vw;
  @include elevation(8);
  outline: 2px solid $red;
}

nav {
  position: fixed;
  top: 25vh;
  bottom: 3vh;
  left: 5.75vw;

  width: 5vw;
  overflow: visible;
  background-color: orange;
  @include elevation(10);
}

footer {
  position: fixed;
  right: 0;
  bottom: 2.25vh;
  left: 0;
  margin-right: .25vw;
  margin-left: 10vw;
  width: 100%;
  height: 2.5vh;
  outline: 2px solid yellow;
}


.container {
  max-width: 1000px;
}
.block-mobile {
  display: none;
  margin-bottom: 60px;
}
.block-mobile .menu-mobile {
    width: 35px;
    height: 35px;
    display: inline-block;
}
.block-mobile .menu-mobile button{
  padding: 0;
  border: 0;
  background: transparent;
  height: 20px;
  width: 20px;
  position: relative;
}
.block-mobile .menu-mobile .item {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  position: absolute;
}
.block-mobile .menu-mobile .item-1 {
  top: 0;
}
.block-mobile .menu-mobile .item-2 {
  top: calc(50% - 1px);
}
.block-mobile .menu-mobile .item-3 {
  bottom: 0;
}
.block-mobile .logo {
  padding-bottom: 0;
  padding-top: 10px;
  text-align: left;
  display: inline-block;
}
.hide-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -moz-transition: visibility 0.3s ease, opacity 0.3s ease;
  -ms-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
