// HTML - The <html> HTML element represents the root (top-level element) of an HTML document, so it is also referred to as the root element. All other elements must be descendants of this element.

html {
  @include box-sizing($type: border-box);
  @include make-container;

  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px){
    font-size: 75%;
  }
}

html,
body {
  font-size: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  @include box-sizing($type: border-box);
  * {
    @include box-sizing($type: border-box);
  }
}
