
@mixin button($color) {
  a,
  a:link {

    font-family: $accent-font;
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
    text-decoration: none;
    text-transform: capitalize;
    color: mix(black, $color, $link-percentage);
    border: mix(black, $color, $border-percentage);
    background: mix(white, $color, $background-percentage);

    &:active,
    &.active {
      color:  mix(black, $color, $active-percentage);
      border: mix(black, $color, $border-percentage);
      background: mix(white, $color, $background-percentage);

      &:hover,
      &:focus {
        color: mix(black, $color, $hover-percentage);;
        border: mix(black, $color, $border-percentage);
        background: mix(white, $color, $background-percentage);
      }
      &:visited {
        $btn-visited-color: mix(white, $color, $visited-percentage);
        color: $btn-visited-color;
        border: mix(black, $color, $border-percentage);
        background: mix(white, $color, $background-percentage);
      }
    }
    &:disabled,
    &.inactive {
      &:hover{}
    }
  }
}
