.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
   @include grid-clearfix;
   @include make-container($grid-gutter-width: $container-offset);
   @include make-container-max-widths($max-widths: $container-max-widths);
   //@include make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints);
  *zoom: 1;
  :before,
  :after {
    display: table;
    content: "";
    line-height: 0;
  }
  :after {
    @include grid-clearfix;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
