.color-scheme-music .site-title,
.color-scheme-corporate .site-title,
.color-scheme-ecommerce .site-title {
	font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
	text-transform: capitalize;
	font-weight: 600;
}
